<h2>Carousel de imagenes con ngx-bootstrap</h2>
<carousel>
  <slide>
    <img src="assets/images/nature/4.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Imagen otoñal</h3>
      <p>Magestuosos arboles mudando de follaje.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/5.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Imagen de playa</h3>
      <p>Magestuosa puesta del Sol</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/6.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Flores en la Naturaleza</h3>
      <p>Fores de color rosa y morado mostrando su belleza.</p>
    </div>
  </slide>
</carousel>