<h2>Carousel de imagenes con ngx-bootstrap</h2>
<carousel>
  <slide>
    <img src="assets/images/nature/2.jpg" alt="Primera Imagen" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Hormigas en la Naturaleza</h3>
      <p>Fila de hormigas caminando por el follaje verde</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/3.jpg" alt="Segunda Imagen" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Atardecer en la Laguna</h3>
      <p>Bellos tonos de naranja que se observan al caer el sol</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/4.jpg" alt="Tercera imagen" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Imagen otoñal</h3>
      <p>Magestuosos arboles mudando de follaje.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/5.jpg" alt="Cuarta imagen" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Imagen de playa</h3>
      <p>Magestuosa puesta del Sol</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/6.jpg" alt="Quinta imagen" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Flores en la Naturaleza</h3>
      <p>Fores de color rosa y morado mostrando su belleza.</p>
    </div>
  </slide>
</carousel>